<ion-header>
  <ion-toolbar>
    <ion-title>
      Units List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let unit of units" (click)="viewUnit(unit)">
      <ion-avatar slot="start">
        <img [src]="unit.image || 'assets/default-unit-image.png'">
      </ion-avatar>
      <ion-label>{{ unit.name }}</ion-label>
      <ion-note slot="end">{{ unitService.calcUnitCost(unit) }}pts</ion-note>
      <ion-button fill="clear" slot="end" (click)="editUnit(unit); $event.stopPropagation()">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" (click)="removeUnit(unit); $event.stopPropagation()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createUnit()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>