#unit-image {
    // Set maximum height based on screen size
    // (Width will be constrained by column size)
    max-height: 30vh;
    // Center the image
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}