<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Unit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <img
          #unitImage
          id="unit-image"
          src="assets/default-unit-image.png"
          (click)="fileInput.click()"
        />
        <input
          #fileInput
          type="file"
          hidden
          accept="image/*"
          (change)="onFileChange($event)"
        />
        <p class="center-text"><i>Tap image to change</i></p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-input
          label="Unit Name"
          placeholder="please enter a name..."
          (change)="onNameChange($event)"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button expand="full" (click)="onProceed()">Proceed</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
