<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ warband ? 'Edit Warband' : 'Create Warband' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="warbandForm">
    <ion-item>
      <ion-input formControlName="name" label="Warband Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="description" label="Warband Description"></ion-textarea>
    </ion-item>
  </form>

  <ion-item>
    <ion-label>Warband Cost:</ion-label>
    <ion-text>{{ unitService.calcWarbandCost(warband) }}pts</ion-text>
  </ion-item>

  <ion-list-header>
    <ion-label>Available Units</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item>Click on a unit's avatar to view it's full description.</ion-item>
    <ion-item *ngFor="let unit of allUnits">
      <ion-avatar slot="start" (click)="viewUnit(unit)">
        <img [src]="unit.image || 'assets/default-unit-image.png'" />
      </ion-avatar>
      <ion-checkbox [checked]="isUnitInWarband(unit)" (ionChange)="toggleUnitSelection(unit)" labelPlacement="start">
        {{ unit.name }}<br />
        Quality: {{ unit.quality }}<br />
        Cost: {{ unitService.calcUnitCost(unit) }}pts
      </ion-checkbox>
      <ion-input *ngIf="isUnitInWarband(unit)" type="number" min="1" [(ngModel)]="unitCounts[unit.id]" placeholder="1"
        label="" labelPlacement="stacked" class="count-input"></ion-input>
    </ion-item>
  </ion-list>


  <ion-button expand="full" (click)="saveWarband()" [disabled]="!warbandForm.valid">Save Warband</ion-button>
</ion-content>