.count-input {
  --padding-start: 0;
  --padding-end: 0;
  width: 50px;
  max-height: 50px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  border: 2px solid white;
  border-radius: 8px;
  margin-left: 12px;
}
