<ion-header>
  <ion-toolbar>
    <ion-title>{{ unit.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="unit-info">
    <img [src]="unit.image" alt="{{ unit.name }} image" class="unit-image" />
    <div class="unit-info-text">
      <p>Quality: {{ unit.quality }}</p>
      <p>Special Rules:</p>
      <ul>
        <li *ngFor="let rule of unit.specialRules">
          {{ rule.name }} ({{ rule.cost }}pts): {{ rule.description }}
        </li>
      </ul>
      <p>Total Cost: {{ unit.totalCost }}pts</p>
    </div>
  </div>
</ion-content>