<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Warbands List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let warband of warbands">
      <ion-label>{{ warband.name }}</ion-label>
      <ion-label>Total Cost: {{ warband.totalCost }}pts</ion-label>
      <ion-button fill="outline" size="small" (click)="viewWarbandDetails(warband)">View Details</ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNewWarband()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>