<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ editing ? 'Edit' : 'Create' }} Unit</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="unitForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-item>
                <!-- <ion-label position="floating">Unit Name</ion-label> -->
                <ion-input formControlName="name" label="Unit Name"></ion-input>
            </ion-item>

            <ion-item>
                <!-- <ion-label>Quality</ion-label> -->
                <ion-select formControlName="quality" label="Quality">
                    <!-- Selector for the quality of the unit, also updates the cost when the value is changed -->
                    <ion-select-option *ngFor="let option of qualityOptions" [value]="option">
                        {{ option.value }}+ ({{ option.cost }}pts)
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item (click)="toggleShowRules()">
                <ion-label>Edges (click to {{showRules? "hide" : "show"}})</ion-label>
            </ion-item>

            <div id="rules-list" *ngIf="showRules">
                <ion-item *ngFor="let rule of edges">
                    <div (click)="toggleRuleExpansion(rule)" style="flex: 1;">
                        <div>{{ rule.name }} ({{ rule.cost }}pts)</div>
                        <div *ngIf="expandedRules.includes(rule.name)" style="margin-left:20px">
                            <p>{{ rule.description }}</p>
                        </div>
                    </div>
                    <div slot="end" (click)="toggleEdge(rule); $event.stopPropagation();"
                        [ngClass]="{'selected': ruleIsSelected(rule)}" class="custom-checkbox">
                        <ion-icon *ngIf="ruleIsSelected(rule)" name="checkmark" style="color: white;"></ion-icon>
                    </div>
                </ion-item>
            </div>

            <ion-item>
                <ion-input style="overflow: hidden;" formControlName="image" type="url"
                    label="Image URL (optional)"></ion-input>
                <ion-button slot="end" (click)="fileInput.click()">Upload</ion-button>
                <input #fileInput type="file" hidden (change)="onFileChange($event)" accept="image/*">
            </ion-item>

            <div style="display: flex; justify-content: center;">
                <img [src]="unitForm.value.image || 'assets/default-unit-image.png'"
                    style="max-width: 100%; max-height: 100px;">
            </div>

            <ion-item *ngIf="unitForm.value.name && unitForm.value.quality">
                <p>{{unitForm.value.name}} will cost {{totalCost}}pts</p>
            </ion-item>

            <ion-item *ngIf="unitForm.value.edges.length > 3">
                <p>{{unitForm.value.name}}'s number of edges is {{unitForm.value.edges.length}}!
                    The maximum is typically 3 by the standard rules. You can still create it, but it may not be allowed
                    at some games.</p>
            </ion-item>
        </ion-list>

        <ion-button expand="block" type="submit" [disabled]="unitForm.invalid">{{ editing ? 'Save' : 'Create' }}
            Unit</ion-button>
    </form>
</ion-content>