<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ warband.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="ion-text-wrap">
      {{ warband.description }}
    </ion-label>
  </ion-item>
  <ion-list-header>
    <ion-label>Units</ion-label>
  </ion-list-header>

  <ion-list>
    <ng-container *ngFor="let unitObj of warband.units">
      <ion-item (click)="viewUnit(unitObj.unit)">
        <ion-avatar slot="start">
          <img [src]="unitObj.unit.image || 'assets/default-unit-image.png'" />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          [{{ unitObj.count }}] {{ unitObj.unit.name }}<br />
          Quality: {{ unitObj.unit.quality }}<br />
          Cost: {{ unitService.calcUnitCost(unitObj.unit) }}pts
        </ion-label>
        <ion-label class="ion-text-wrap">
          {{unitRulesString(unitObj.unit)}}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>  

</ion-content>