<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>App Deployment: {{appDeployment}}</ion-item>
  <ion-item (click)="toggleEnhancedUnitCostDescription($event)">
    <ion-label>Enhanced Unit Cost Rule</ion-label>
    <ion-toggle
      slot="end"
      aria-label="Toggle Enhanced Unit Cost Rule"
      [(ngModel)]="enhancedUnitCostRule"
      (ionChange)="onEnhancedUnitCostRuleToggleChange($event)"
    ></ion-toggle>
  </ion-item>
  <ion-item *ngIf="EucShowDescription">
    <p>
      The Enhanced Unit Cost Rule is an optional rule that adds an additional
      cost to a unit's total cost based on the number of edges it has.
      <br /><br />
      The additional cost is calculated as ((number of edges) - 3) * 10. This
      rule only applies to edges with positive cost and only if the number of
      edges with positive cost exceeds 3.
      <br /><br />
      This rule is intended to provide a more balanced cost structure for units
      with many edges, and to encourage players to choose a smaller number of
      high-impact edges rather than many low-impact ones.
    </p>
  </ion-item>

  <!-- Data File Functions -->
  <ion-list-header>Data File Functions</ion-list-header>
  <ion-item
    button
    (click)="exportData()"
    detail="true"
    detail-icon="download-outline"
  >
    <ion-label>Export to File</ion-label>
  </ion-item>
  <ion-item
    button
    (click)="importData()"
    detail="true"
    detail-icon="folder-open-outline"
  >
    <ion-label>Import And Merge All Data</ion-label>
  </ion-item>
  <ion-item
    button
    (click)="importUnits()"
    detail="true"
    detail-icon="people-circle-outline"
  >
    <ion-label>Import And Merge Units</ion-label>
  </ion-item>
  <ion-item
    button
    (click)="importWarbands()"
    detail="true"
    detail-icon="list-outline"
  >
    <ion-label>Import And Merge Warbands</ion-label>
  </ion-item>

  <!-- Peer Data Functions -->
  <ion-list-header>Peer Data Functions</ion-list-header>
  <!-- Ion Toggle for initiating peer service -->
  <ion-item>
    <ion-label>Enable Peer Service</ion-label>
    <ion-toggle
      slot="end"
      aria-label="Toggle Peer Service"
      [(ngModel)]="peerConnectionsEnabled"
      (ionChange)="onPeerConnectionsToggleChange($event)"
    ></ion-toggle>
  </ion-item>
  <!-- Show the user's id if peer connections are enabled -->
  <ion-item *ngIf="peerConnectionEstablished">
    <ion-label>Your Friend Code</ion-label>
    <p>{{peerId}}</p>
  </ion-item>
  <!-- Button to connect with a friend -->
  <ion-item
    *ngIf="peerConnectionEstablished"
    button
    color="primary"
    detail="true"
    detail-icon="earth-outline"
    (click)="openConnectModal()"
  >
    <ion-label>Connect to a Friend</ion-label>
  </ion-item>
  <!-- Show a list of connected friends -->
  <ion-item *ngIf="peerConnectionEstablished">
    <ion-label>Connected Friends</ion-label>
    <ion-list>
      <ion-item *ngFor="let friend of friends">
        <ion-label>{{friend}}</ion-label>
        <!-- <ion-button
          slot="end"
          color="danger"
          fill="clear"
          (click)="removeFriend(friend)"
        >
          <ion-icon name="trash"></ion-icon>
        </ion-button> -->
      </ion-item>
    </ion-list>
  </ion-item>

  <!-- Dangerous Data Functions -->
  <ion-list-header>Dangerous Data Functions</ion-list-header>
  <ion-item>
    <ion-label>Show Dangerous Functions</ion-label>
    <ion-toggle
      slot="end"
      aria-label="Toggle Dangerous Functions Visibility"
      [(ngModel)]="dangerEnabled"
    ></ion-toggle>
  </ion-item>
  <ion-item
    *ngIf="dangerEnabled"
    button
    color="warning"
    (click)="overwriteData()"
    detail="true"
    detail-icon="document-outline"
  >
    <ion-label>Overwrite With File</ion-label>
  </ion-item>
  <ion-item
    *ngIf="dangerEnabled"
    button
    color="danger"
    (click)="deleteData()"
    detail="true"
    detail-icon="trash"
  >
    <ion-label>Delete All Data</ion-label>
  </ion-item>
</ion-content>
