<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>App Deployment: {{appDeployment}}</ion-item>
  <ion-item (click)="toggleEnhancedUnitCostDescription($event)">
    <ion-label>Enhanced Unit Cost Rule</ion-label>
    <ion-toggle
      slot="end"
      aria-label="Toggle Enhanced Unit Cost Rule"
      [(ngModel)]="enhancedUnitCostRule"
      (ionChange)="onEnhancedUnitCostRuleToggleChange($event)"
    ></ion-toggle>
  </ion-item>
  <ion-item *ngIf="showEnhancedUnitCostDescription">
    <p>
      The Enhanced Unit Cost Rule is an optional rule that adds an additional
      cost to a unit's total cost based on the number of edges it has.
      <br /><br />
      The additional cost is calculated as ((number of edges) - 3) * 10. This
      rule only applies to edges with positive cost and only if the number of
      edges with positive cost exceeds 3.
      <br /><br />
      This rule is intended to provide a more balanced cost structure for units
      with many edges, and to encourage players to choose a smaller number of
      high-impact edges rather than many low-impact ones.
    </p>
  </ion-item>

  <!-- Data File Functions -->
  <ion-list-header>Data File Functions</ion-list-header>
  <ion-button expand="block" (click)="exportData()">Export To File</ion-button>
  <ion-button expand="block" (click)="importData()"
    >Import And Merge All Data</ion-button
  >
  <ion-button expand="block" color="secondary" (click)="importUnits()"
    >Import And Merge Units</ion-button
  >
  <ion-button expand="block" color="secondary" (click)="importWarbands()"
    >Import And Merge Warbands</ion-button
  >

  <!-- Peer Data Functions -->
  <ion-list-header>Peer Data Functions</ion-list-header>
  <!-- Ion Toggle for initiating peer service -->
  <ion-item>
    <ion-label>Enable Peer Service</ion-label>
    <ion-toggle
      slot="end"
      aria-label="Toggle Peer Service"
      [(ngModel)]="peerConnectionsEnabled"
      (ionChange)="onPeerConnectionsToggleChange($event)"
    ></ion-toggle>
  </ion-item>
  <!-- Show the user's id if peer connections are enabled -->
  <ion-item *ngIf="peerConnectionEstablished">
    <ion-label>Peer Id</ion-label>
    <p>{{peerId}}</p>
  </ion-item>

  <!-- Dangerous Data Functions -->
  <ion-list-header>Dangerous Data Functions</ion-list-header>
  <ion-button expand="block" color="warning" (click)="overwriteData()"
    >Overwrite With File</ion-button
  >
  <ion-button expand="block" color="danger" (click)="deleteData()"
    >Delete All Data</ion-button
  >
</ion-content>
